{% extends 'general/index.html' %}
{% load staticfiles %}


{% block section2 %}
{% endblock section2 %}

{% block section3 %}
{% endblock section3 %}

{% block section4 %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Error 404</h2>
			</div>
		</div>
	</div>
</section>
<section id="content">
	
	<div class="container">
		


		<div class="row">
			<div class="col-md-6">
						   <!-- Form itself -->
            <h3>Oops Something went wrong...The engineers are working on it currently</h3>

			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
</section>
{% endblock section4 %}

{% block section5 %}
{% endblock section5 %}

{% block section6 %}
{% endblock section6 %}



	


