{% extends 'general/index.html' %}
{% load staticfiles %}

{% block title %}<title>LVTV GUINEA | Password Reset</title>{% endblock title %}

{% block section2 %}
{% endblock section2 %}

{% block section3 %}
{% endblock section3 %}

{% load i18n %}


{% block section4 %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Entrez un nouveau mot de passe</h2>
			</div>
		</div>
	</div>
</section>


<section id="content">
	<div class="container">
		<!-- Animations -->
		<div class="row">
			<div class="col-md-6">
				<form action="" method="POST">
				{% csrf_token %}

					<div class="col-md-12" style="margin-bottom:0;margin-left: -16px;">
						<h5>Mot de passe oublié? </h5>
					</div><br/>

					<p>Entrez l'adresse électronique ci-dessous, et nous vous enverrons des instructions pour définir une nouvelle.</p><br/>
	
		            <label class="label-controller">Email</label>
					<input name="email" class="form-control" type="text" placeholder="E-mail" required/><br/>
				 
					<button type="submit" class="btn btn-primary pull-right">Soumettre</button>
					<br/><br/><br/><br/><br/><br/><br/>
				</form>
			</div>
						
		</div>	
    </div>
</section>
{% endblock section4 %}

{% block section5 %}
{% endblock section5 %}

{% block section6 %}
{% endblock section6 %}