{% extends 'general/index.html' %}
{% load staticfiles %}

{% block title %}<title>LVTV GUINEA | Password Reset</title>{% endblock title %}

{% block section2 %}
{% endblock section2 %}

{% block section3 %}
{% endblock section3 %}

{% load i18n %}

{% block section4 %}

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Réinitialiser le mot de passe ici</h2>
			</div>
		</div>
	</div>
</section>

<section id="content">
	<div class="container">
		<!-- Animations -->
		<div class="row">
			<div class="col-md-6">

				{% if validlink %}
					<form action="" method="POST">
					{% csrf_token %}
									
						<h3>Entrez un nouveau mot de passe</h3><br/>

						<p style="margin-bottom:0;">{% trans "Entrez votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez tapé correctement." %}</p><br/>

							<!--<input name="email" type="text" placeholder="E-mail">-->
							<label class="label-controller">nouveau mot de passe</label>
							<input name="new_password1" class="form-control" id="new_password1" type="password" placeholder="New Password" required><br/>

							<label class="label-controller">Confirmez le mot de passe</label>
							<input name="new_password2" class="form-control" id="new_password2" type="password" placeholder="Confirm New Password" required><br/>
		
							<button type="submit" class="btn btn-primary pull-right">Soumettre</button>
					</form>
				{% else %}
					<h5>Réinitialisation du mot de passe échoué</h5>
					<p style="margin-top: 20px;margin-bottom:0;color: red;">{% trans "Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il était déjà utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe." %}</p>
                {% endif %}
		   
			</div>

		</div>
	</div>
</section>

{% endblock section4 %}

{% block section5 %}
{% endblock section5 %}

{% block section6 %}
{% endblock section6 %}