{% extends 'general/index.html' %}
{% load staticfiles %}

{% block title %}<title>LVTV GUINEA | Password Reset</title>{% endblock title %}

{% load i18n %}

{% block section2 %}
{% endblock section2 %}

{% block section3 %}
{% endblock section3 %}


{% block section4 %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Entrez un nouveau mot de passe</h2>
			</div>
		</div>
	</div>
</section>
    

<section id="content">
	<div class="container">
		<!-- Animations -->
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<form action="" method="POST">
				{% csrf_token %}
				
					<h2>Toutes nos félicitations</h2>
					<h5>Réinitialisation du mot de passe envoyé </h5>
					
					<p style="margin-bottom:0;">{% trans "Nous vous avons envoyé des instructions pour configurer votre mot de passe à l'adresse e-mail que vous avez envoyée. Vous devriez le recevoir sous peu." %}</p>
					
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock section4 %}

{% block section5 %}
{% endblock section5 %}

{% block section6 %}
{% endblock section6 %}