{% load i18n %}{% autoescape off %}
{% blocktrans %}
Vous recevez ce courrier électronique car vous avez demandé une réinitialisation de mot de passe pour votre compte d'utilisateur à{{protocol}}://{{domain}}.com {% endblocktrans %}

{% trans "Cliquez sur le lien ci-dessous et choisissez un nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Votre nom d'utilisateur, au cas où vous avez oublié:" %} {{ user.username }}




Je vous remercie.
L'équipe de Guinée LVTV,

{% endautoescape %}
