{% extends 'general/index.html' %}
{% load staticfiles %}


{% block section2 %}
{% endblock section2 %}

{% block section3 %}
{% endblock section3 %}

{% block section4 %}
<section id="inner-headline">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="pageTitle">À propos de nous</h2>
				</div>
			</div>
		</div>
</section>

<section id="content">
		<section class="section-padding">
			<div class="container">
				<div class="row showcase-section">
					<div class="col-md-6">
						<img src="{% static 'img/together9.jpg' %}" alt="showcase image">
					</div>
					<div class="col-md-6">
						<div class="about-text">
							<h3>Notre énoncé</h3>
							<p>Nous sommes prêts à aider tous les membres à gagner la liberté financière, à prendre en charge leurs finances avec facilité et ensemble</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
						
						<div class="about">
					
							
							<div class="row">
								<div class="col-md-12">
									<!-- Heading and para -->
									<div class="block-heading-two">
										<h3><span>Pourquoi se joindre à nous?</span></h3>
									</div>

									<p>VDP-Guinée n'est pas une banque. VDP-Guinée ne recueille pas votre argent. VDP-Guinée n'est pas une entreprise en ligne, c'est un programme d'investissement à haut rendement, un investissement ou un programme VDP-Guinée. VDP-Guinée est une communauté où les gens sont prêts à aider d'autres personnes. VDP-Guinée vous offre une plate-forme technique qui aide des millions de membres dans le monde entier à relier ceux qui ont besoin d'aide avec ceux qui sont prêts à fournir de l'aide, gratuitement. Chaque fois que vous transférez des fonds à un autre membre, cela signifie une aide que vous fournissez de votre propre volonté, absolument gratuite.</p>

									<p>Si vous êtes complètement confiant et certain de vos actions et que vous avez décidé de rejoindre la communauté de VDP-Guinée, nous vous prions d'étudier attentivement toutes les directives et instructions. Si vous avez des questions concernant le sujet, nos consultants en ligne sont prêts à vous aider et à répondre à toutes vos questions.</p>

									<p>VDP-Guinée est une communauté de personnes se fournissant de l'aide financière sur le principe de la gratuité, de la réciprocité, de la bienveillance et de la gentillesse. Dans VDP-Guinée, il n'y a pas de prêteurs et pas de débiteurs. Tout est très simple: un membre demande de l'aide - et un autre membre aide.
									La seule chose que VDP-Guinée exige de ses participants est d'être honnête et gentil les uns  with(envers) les autres. Vous demandez de l'aide financière lorsque vous en avez besoin, vous donnez de l'aide financière lorsque vous pourrez le faire.</p>

									<p>Dans VDP-Guinée, nous ne dirigeons pas un compte central, où tout l'argent du système coule vers (et d'où il peut être facilement volé. Tout l'argent n'est que dans les comptes bancaires des participants eux-mêmes! Sur beaucoup de mille millions de Comptes privés. Les participants sont libres d'utiliser l'un de leurs comptes bancaires dans n'importe quelle banque en Guinée.</p>

									<p>Les participants se transfèrent directement, sans intermédiaires! En fait, VDP-Guinea ne règle que le processus - rien de plus. Donc, le système appartient complètement aux gens. Ce n'est pas une blague! C'est un véritable fonds d'aide mutuelle où les gens ordinaires s'entraident. Et ensemble, ils créent une communauté financièrement forte caractérisée par la liberté financière.</p>

									<p>Et ensemble, ils construisent une communauté financièrement solide caractérisée par la liberté financière.</p>

									</div>

								<div class="col-md-12">
									<!-- Heading and para -->
									<div class="block-heading-two">
										<h3><span>Idéologie</span></h3>
									</div>
									<p>Le monde moderne est mauvais. C'est inhumain, injuste et injuste. C'est le monde de l'argent. Ce n'est pas pour les gens. C'est pour ceux qui produisent cet argent, pour les banquiers et les financiers, le gouvernement et les millionnaires. Et les gens ne sont que de «pions» dans ce jeu. Ils servent simplement de préposés.</p>

									<p>Un nouveau système financier équitable est ce que VDP-Guinée rend possible! Apocalypse financière! C'est la seule chose qui peut briser nos chaînes financières et nous sauver tous. Libérez-nous enfin de l'esclavage continu. Tout le vieux brûlera dans son feu et le nouveau apparaîtra. La Fed sera retirée du pouvoir et ne développera plus les inégalités sociales. Les banques telles qu'elles sont maintenant disparaîtront tout simplement. Ils arrêteront de voler les gens. En fait, les banques ne produisent rien d'utile. Quelle est l'utilité qu'ils peuvent faire? Donner des crédits à des fins de pillage? En conséquence, toute la population est chargée de dettes.</p>

									<p>Pourquoi les banques ont-elles des intérêts pour le crédit? Y-as-tu déjà pensé? L'usure a toujours été méprisée par toutes les nations, et maintenant elle est légalisée. Pourquoi? Si une personne prend un prêt dans la banque, alors non pour rien, mais pour faire quelque chose de bien, pour réaliser un projet. Mais il applique ses efforts pour le bien-être de la société, y compris les banquiers. Faire quelque chose d'utile pour nous tous. Nous devrions encourager ces personnes, faire des rabais, mais ne pas collecter d'énormes intérêts!</p>

									<p>Néanmoins, des banques modernes ont été créées à d'autres fins. Ils ne s'intéressent pas à la société mais à leurs propres objectifs. Les gens ne sont pas importants pour eux. Les banques modernes sont des serviteurs fidèles de la Fed, des agents hypocrites, abusant des produits du travail des personnes ordinaires. Le système financier actuel ne nous détruit que. Et il continuera à nous attaquer, puis à nos enfants et petits-enfants. Il sera encore pire si rien ne change. Nous allons détruire le système financier existant et construire un nouveau - juste et honnête! Nous n'avons pas d'autre choix. Nous ne sommes pas des esclaves. Nous sommes le peuple. Et nous choisissons la liberté!</p>

									<p>Et cette liberté est presque déjà là. Maintenant, grâce à VDP-Guinée, l'Apocalypse financière est inévitable. Inévitable! Depuis maintenant, c'est juste la question du temps. La graine a été abandonnée. Et cela grandirait. Il se développe déjà. En ce moment, en ce moment! Cela ne périra pas!</p>
								</div>
								
							</div>
							
							 						
							 
							<br>
							<!-- Our Team starts -->
					
							<!-- Heading -->
							<br>
							
							<!-- Our team starts -->				
							<!-- Our team ends -->
						  
							
						</div>
										
					</div>
</section>
{% endblock section4 %}

{% block section5 %}
{% endblock section5 %}

{% block section6 %}
{% endblock section6 %}



	