 <div class="modal-content" id="avail_gh">


    <!-- Modal Header -->
    <div class="modal-header" style="background-color: azure;">
        <button type="button" class="close" 
           data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
        </button>

        <h4 class="modal-title" id="myModalLabel">
            Match Orders to {{tracking_number}}&nbsp;&nbsp;&nbsp;
            Amount -- GNF {{ph.amount}}<br/>
            Amount paired -- GNF {{ph.amt_paired}}&nbsp;&nbsp;&nbsp;
            Amount left -- GNF {{ph.amt_left}}
        </h4>

        {% if message %}
         <h6>{{message}}</h6>
        {% endif %}
        
    </div>
    

    <!-- Modal Body -->
    <div class="modal-body" style="background-color: azure;">
         <table border="0" class="table table-striped" id="gh_table">
            <tr>
                <th></th>
                <th>Tracking number</th>
                <th>Participant</th> 
                <th>Date Created</th> 
                <th>Amount</th> 
                <th>Amount Paired</th>
                <th>Amount Left</th>
                <th>Status</th>
            </tr> 
  
            {% for contrib in gethelp %}
                <tr>
                    <td><input type="checkbox" id="ghType" name="ghtype" gh_id="{{contrib.tracking_number}}" ph_id="{{tracking_number}}" class="ghType"
                    ghType="{{contrib.pk}}"></td>
                    <td>{{contrib.tracking_number}}</td>
                    <td>{{contrib.user_account}}</td>
                    <td>{{contrib.created_on}}</td>
                    <td>{{contrib.amount}}</td>
                    <td>{{contrib.amt_paired}}</td>
                    <td>{{contrib.amt_left}}</td>  
                    <td>{{contrib.status}}</td>
                </tr> 
            {% endfor %}
		</table>
	</div>
    

    <!-- Modal Footer -->
    <!-- <div class="modal-footer">
    	<button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
    </div> -->


</div>