 <div class="modal-content" id="avail_gh_values">

    <!-- Modal Header -->
    <div class="modal-header" style="background-color: azure;">
        <button type="button" class="close" 
           data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            System Indicator
        </h4>
    </div>
    
    <!-- Modal Body -->
    <div class="modal-body" style="background-color: azure;">
         PH TOTAL = {{providehelp}}<br/>
         GH TOTAL = {{gethelp}}<br/>
         {{indicator_message}}

    </div>
    
    <!-- Modal Footer -->
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
    </div> -->

</div>