<div class="modal-body" style="background-color: azure;" id="user_profile">
    <span>Name: {{user.full_name}}</span><br/>
    <span>Email: {{user.user.email}}</span><br/>
    <span>Telephone: {{user.phone_number}}</span><br/>
    <span>Bank: {{user.bank_name}}</span><br/>
    <span>Account Number: {{user.bank_acc_number}}</span><br/>
    <span>Block: {{user.block}}</span><br/>
    <span>Profile Completed: {{user.completed}}</span><br/>
    <span>Date Joined: {{user.created_on}}</span><br/>
</div>